http://:8501 {
    redir https://161.33.148.67.sslip.io{uri} permanent
}

161.33.148.67.sslip.io {
    encode gzip
    redir /mobile /mobile/
    redir /mobile/static /mobile/
    redir /mobile/static/ /mobile/
    handle_path /mobile* {
        reverse_proxy 127.0.0.1:8600
    }
    reverse_proxy 127.0.0.1:8502
}
